[submodule "src/thirdparty/doctest"]
	path = src/thirdparty/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "src/thirdparty/highfive"]
	path = src/thirdparty/highfive
	url = https://github.com/keichi/HighFive.git
[submodule "src/thirdparty/argh"]
	path = src/thirdparty/argh
	url = https://github.com/adishavit/argh.git
